@import 'components/breadcrumb';
@import 'components/color';
@import 'components/group-item';
@import 'components/info-panel';
@import 'components/navbars';
@import 'components/sidebar';
@import 'components/splitter';
@import 'components/table';
@import 'components/widget';
@import 'portlet/portlet';
@import 'portlet/portlet_decorators';
@import 'portlet/portlet_hello_world';

@import '_custom_mixins';
@import 'custom_properties';

.material-theme-main-class {
	@import './vendor/material-dashboard.scss';
	@import "./formed/index";
	@import "./minium/minium";
}

.material-theme-rtl-main-class {
	@import './vendor/material-dashboard.scss';
	@import './vendor/material-dashboard-rtl.scss';
	@import "./formed/index";
	@import "./minium/minium";
}

$navigationBackgroundColor: var(--navigation-background-color, $complementary-color);
$navigationBackgroundBlendColor: var(--navigation-background-blend-color, $complementary-color);
$navigationSelectedMarkerColor: var(--navigation-selected-marker-color, $primary);
$navigationSelectedTextColor: var(--navigation-selected-text-color, $white);
$navigationTextColor: var(--navigation-text-color, $gray-500);

body {
	header {
		.field-wrapper {
			position: absolute;
			right: 4px;
			top: 2px;

			a {
				color: #fff;
			}
		}

		.field-wrapper,
		.form-group {
			margin-bottom: 0;
		}

		.portlet {
			margin-bottom: 0;

			&:hover {
				z-index: 1034;
			}
		}

		.search-input {
			font-size: 0.88rem;
			padding: 0.28rem 2rem 0.28rem 1rem;
		}

		.text-default {
			font-weight: 600;
		}

		.user-personal-bar {
			.fieldset {
				position: relative;
			}

			.user-avatar-link .panel-notifications-count {
				right: calc(100% - 0.75rem);
				top: -0.35rem;
			}
		}
	}

	.user-avatar-link {
		display: block;
		position: relative;

		.panel-notifications-count {
			display: block;
			margin: 0;
			max-width: none;
			position: absolute;
			right: calc(100% - 0.7rem);
			top: -0.4rem;
		}

		.text-default {
			align-items: center;
			display: flex;

			.user-full-name {
				margin-left: 0.5rem;

				@include media-breakpoint-down(xs) {
					display: none;
				}
			}
		}
	}
}

.btn-group + .info-panel {
	@include media-breakpoint-up(sm) {
		top: auto;
	}
}

#footer {
	> .container {
		padding-bottom: 1.5rem;
		padding-top: 1.5rem;
	}
}

.card-stats {
	.card-header.card-header-icon {
		.card-icon {
			.material-icons {
				svg {
					line-height: var(--card-header-icon-size);
					width: var(--card-header-icon-size);
					height: var(--card-header-icon-size);
					text-align: center;
				}
			}
		}
	}
}

.card-footer {
	.stats {
		.material-icons {
			top: 0px !important;
		}
	}
}

.material-theme-main-class {
	.card {
		.card-header {
    		z-index: unset !important;
		}
	}
}

.material-theme-main-class {
	.upper-header {
		box-shadow: unset;
		margin-bottom: unset;

		.container {
			background: transparent;
		}
	}
}

.material-theme-main-class {
	.lower-header {
		box-shadow: 0 4px 18px -10px rgba(0, 0, 0, 0.12), 0 7px 10px -5px rgba(0, 0, 0, 0.15);

		.container {
			background: transparent;
		}
	}
}

// Navigation

.content-side-navigation {
	@include media-breakpoint-up(lg) {
		padding-left: 70px;
	}
}

#navigation {
	background-image: linear-gradient($navigationBackgroundColor, $navigationBackgroundBlendColor);
	bottom: 0;
	color: $navigationTextColor;
	display: flex;
	flex-direction: column;
	left: 0;
	padding-bottom: 24px;
	padding-top: 24px;
	position: fixed;
	top: 0;
	transition: margin-left 0.5s ease, width 0.5s ease;
	width: 70px;
	z-index: 980;

	@include media-breakpoint-down(md) {
		align-items: center;
		flex-direction: row;
		height: auto;
		justify-content: space-between;
		margin-top: 0;
		overflow: visible;
		padding: 19px 16px;
		position: relative;
		transition: none;
		width: auto;
	}

	&.open {
		@include media-breakpoint-up(lg) {
			width: 185px;
		}

		.site-name {
			display: inline;
		}

		.raylife-text {
			opacity: 1;
		}

		.layout-name, .user-full-name {
			opacity: 1;
		}
	}

	body:not(.hide-control-menu) & {
		@media (min-width: 992px) and (max-height: 824px) {
			bottom: 0;
			height: auto;
		}
	}

	body.gsdc.open & {
		@include media-breakpoint-up(lg) {
			margin-left: 320px;
		}
	}

	.has-control-menu & {
		@include media-breakpoint-up(lg) {
			margin-top: 56px;
		}
	}

	.hide-control-menu & {
		.site-pages {
			@include media-breakpoint-down(md) {
				top: 0;
			}
		}
	}

	.logo {
		align-items: center;
		display: flex;
		height: 70px;
		padding-left: 58px;
		white-space: nowrap;
	}

	.logo-image {
		height: auto;
		margin-left: -37px;
		position: absolute;
		width: 32px;
	}

	.site-name {
		display: none;
		font-size: 24px;
		font-weight: $font-weight-bold;
		padding-left: 8px;

		@include media-breakpoint-down(md) {
			display: inline;
		}
	}

	.site-pages {
		display: flex;
		flex-grow: 1;
		flex-wrap: nowrap;
		overflow: hidden;

		@include media-breakpoint-down(md) {
			background-color: #3B3B45;
			bottom: 0;
			left: 0;
			overflow: hidden;
			padding-bottom: 1.5rem;
			padding-top: 1.5rem;
			position: fixed;
			top: 48px;
			width: 0;
		}

		.close {
			color: $primary;
			display: inline-flex;
			margin-bottom: 16px;
			margin-left: 19px;
			padding: 0;

			&:hover {
				color: $primary;
			}
		}

		&.sidenav-transition {
			@include media-breakpoint-down(md) {
				overflow: hidden;
			}
		}

		&.open {
			@include media-breakpoint-down(md) {
				@include overflow-auto;

				width: 275px;
			}
		}
	}

	#layout_1 {
		@include media-breakpoint-up(lg) {
			margin-top: auto;
		}
	}

	.nav-item {
		margin-bottom: 16px;
	}

	.layout-icon {
		display: block;
		font-size: 20px;
		line-height: 32px;
		margin-left: -34px;
		position: absolute;
		text-align: center;
		top: -3px;

		.nav-item-icon {
			fill: $navigationTextColor;
			height: 20px;
			width: 20px;
		}
	}

	.nav-item {
		&:hover, &.selected {
			box-shadow: inset 4px 0 0 -1px $navigationSelectedMarkerColor;

			.nav-link {
				color: $navigationSelectedTextColor;
				font-weight: $font-weight-semi-bold;

				.layout-icon {
					filter: brightness(0) invert(1);
				}
			}
		}
	}

	.nav-link {
		align-items: center;
		color: $navigationTextColor;
		display: flex;
		height: 32px;
		padding: 0 8px 0 58px;
		width: 100%;
	}

	.component-link {
		color: $navigationTextColor;

		&:hover {
			color: $navigationSelectedTextColor;
		}
	}

	.link-primary {
		&:hover {
			color: $primary;
		}
	}

	.layout-name, .user-full-name {
		opacity: 0;
		transition: opacity 0.35s ease-in;
		vertical-align: middle;

		@include media-breakpoint-down(md) {
			opacity: 1;
		}
	}

	.nav-user-bar {
		font-size: 0.875rem;
		margin-top: auto;

		.user-section {
			align-items: center;
			display: flex;
			padding: 8px 14px;
		}

		.text-default {
			align-items: center;
			display: inline-flex;

			&:hover {
				text-decoration: none;

				.user-full-name {
					color: $navigationSelectedTextColor;
					font-weight: $font-weight-semi-bold;
				}
			}
		}

		.user-full-name {
			color: $navigationTextColor;
			padding-left: 10px;
			white-space: nowrap;

			@include media-breakpoint-down(md) {
				display: inline-block;
			}
		}
	}

	.user-avatar-image {
		display: inline-flex;
		margin-left: -37px;
	}

	.sticker-right {
		display: none;
	}
}

.personal-menu-dropdown {
	.dropdown {
		.btn {
			padding: 0;
		}
	}
}

.portlet-search-bar {
	.portlet-content-container {
		margin-top: 20px;
	}

	.search-bar-simple {
		font-size: 1.5rem;

		.search-bar-keywords-input {
			width: 70% !important;
		}

		.input-group-inset-item-after {
			border: unset;
			background: transparent;
		}
	}
}

.portlet-language {
	.dropdown {
		.btn {
			background: transparent;
			border: unset;
			box-shadow: unset;

			.inline-item {
				position: relative;
				font-size: 1.5rem;
				left: -1.25rem;
				top: -0.75rem;
			}
		}
	}
}