$nhs-dark: #003087 !default;
$nhs-blue: #005EB8 !default;
$nhs-bright: #0072CE !default;
$nhs-light: #41B6E6 !default;
$nhs-aqua: #00A9CE !default;

$brand-primary:              $nhs-blue;
$brand-info:                 $nhs-light;
$brand-inverse:              $nhs-dark;

@import 'components/breadcrumb';
@import 'components/color';
@import 'components/group-item';
@import 'components/info-panel';
@import 'components/navbars';
@import 'components/sidebar';
@import 'components/splitter';
@import 'components/table';
@import 'components/widget';
@import 'portlet/portlet';
@import 'portlet/portlet_decorators';
@import 'portlet/portlet_hello_world';

@import '_custom_mixins';
@import 'custom_properties';

.material-theme-main-class {
	@import './vendor/material-dashboard.scss';
	@import "./formed/index";
	@import "./minium/minium";
	@import "./custom_fixes";
}

.material-theme-rtl-main-class {
	@import './vendor/material-dashboard.scss';
	@import './vendor/material-dashboard-rtl.scss';
	@import "./formed/index";
	@import "./minium/minium";
	@import "./custom_fixes";
}

body {
	header {
		.field-wrapper {
			position: absolute;
			right: 4px;
			top: 2px;

			a {
				color: #fff;
			}
		}

		.field-wrapper,
		.form-group {
			margin-bottom: 0;
		}

		.portlet {
			margin-bottom: 0;

			&:hover {
				z-index: 1034;
			}
		}

		.search-input {
			font-size: 0.88rem;
			padding: 0.28rem 2rem 0.28rem 1rem;
		}

		.text-default {
			font-weight: 600;
		}

		.user-personal-bar {
			.fieldset {
				position: relative;
			}

			.user-avatar-link .panel-notifications-count {
				right: calc(100% - 0.75rem);
				top: -0.35rem;
			}
		}
	}

	.user-avatar-link {
		display: block;
		position: relative;

		.panel-notifications-count {
			display: block;
			margin: 0;
			max-width: none;
			position: absolute;
			right: calc(100% - 0.7rem);
			top: -0.4rem;
		}

		.text-default {
			align-items: center;
			display: flex;

			.user-full-name {
				margin-left: 0.5rem;

				@include media-breakpoint-down(xs) {
					display: none;
				}
			}
		}
	}
}

.btn-group + .info-panel {
	@include media-breakpoint-up(sm) {
		top: auto;
	}
}