// Material fixes

.card-stats {
	.card-header.card-header-icon {
		.card-icon {
			.material-icons {
				svg {
					@include frontend-token(line-height, --card-header-icon-size, 2.75rem);
					@include frontend-token(width, --card-header-icon-size, 2.75rem);
					@include frontend-token(height, --card-header-icon-size, 2.75rem);
					text-align: center;
				}
			}
		}
	}
}

.card-footer {
	.stats {
		.material-icons {
			top: 0px !important;
		}
	}
}

.card {
	.card-header {
		z-index: unset !important;
	}
}

// Header fixes

.portlet-search-bar {
	.portlet-content-container {
		margin-top: 20px;
	}

	.search-bar-simple {
		font-size: 1.5rem;

		.search-bar-keywords-input-wrapper {
			display: flex;
			flex-grow: 1;
			flex-wrap: nowrap;
			flex-direction: row;

			.search-bar-keywords-input {
				&:focus {
					background: transparent;
				}
			}

			.input-group-inset-item-after {
				border: unset;
				background: transparent;

				.btn {
					position: relative;
					top: unset;
					right: unset;
				}
			}
		}
	}
}

.portlet-language {
	.dropdown {
		.btn {
			background: transparent;
			border: unset;
			box-shadow: unset;

			.inline-item {
				position: relative;
				font-size: 1.5rem;
				left: -1.25rem;
				top: -0.75rem;
			}
		}
	}
}

.upper-header {
	box-shadow: unset;
	margin-bottom: unset;

	.container,
	.container-fluid {
		background: transparent;

		.site-name {
			@include media-breakpoint-down(md) {
				display: none;
			}
		}
	}
}

.lower-header {
	box-shadow: 0 4px 18px -10px rgba(0, 0, 0, 0.12), 0 7px 10px -5px rgba(0, 0, 0, 0.15);

	.container,
	.container-fluid {
		background: transparent;
	}
}

// Navigation

.content-side-navigation {
	@include media-breakpoint-up(lg) {
		padding-left: 70px;
	}
}

#navigation {
	@include gradiant(
		--navigation-background-color,
		$complementary-color,
		--navigation-background-blend-color,
		$complementary-color
	);
	bottom: 0;
	@include frontend-token(color, --navigation-text-color, $gray-700);
	display: flex;
	flex-direction: column;
	left: 0;
	padding-bottom: 24px;
	padding-top: 24px;
	position: fixed;
	top: 0;
	transition: margin-left 0.5s ease, width 0.5s ease;
	width: 70px;
	z-index: 980;

	@include media-breakpoint-down(md) {
		flex-direction: row;
		height: auto;
		justify-content: space-between;
		margin-top: 0;
		overflow: visible;
		padding: 19px 16px;
		transition: none;
		width: auto;
	}

	&.open {
		@include media-breakpoint-up(lg) {
			width: 185px;
		}

		.site-name {
			display: inline;
		}

		.raylife-text {
			opacity: 1;
		}

		.layout-name,
		.user-full-name {
			opacity: 1;
		}
	}

	body:not(.hide-control-menu) & {
		@media (min-width: 992px) and (max-height: 824px) {
			bottom: 0;
			height: auto;
		}
	}

	body.gsdc.open & {
		@include media-breakpoint-up(lg) {
			margin-left: 320px;
		}
	}

	.has-control-menu & {
		@include media-breakpoint-up(lg) {
			margin-top: 56px;
		}
	}

	.hide-control-menu & {
		.site-pages {
			@include media-breakpoint-down(md) {
				top: 0;
			}
		}
	}

	.logo {
		align-items: center;
		display: flex;
		height: 70px;
		padding-left: 58px;
		white-space: nowrap;
	}

	.logo-image {
		height: auto;
		margin-left: -37px;
		position: absolute;
		width: 32px;
	}

	.site-name {
		display: none;
		font-size: 24px;
		font-weight: $font-weight-bold;
		padding-left: 8px;

		@include media-breakpoint-down(md) {
			display: inline;
		}
	}

	.site-pages {
		display: flex;
		flex-grow: 1;
		flex-wrap: nowrap;
		overflow: hidden;

		@include media-breakpoint-down(md) {
			@include frontend-token(background-color, --navigation-background-color, $complementary-color);
			bottom: 0;
			left: 0;
			overflow: hidden;
			padding-bottom: 1.5rem;
			padding-top: 1.5rem;
			position: fixed;
			top: 0;
			width: 0;
		}

		.close {
			@include frontend-token(color, --navigation-selected-marker-color, $primary);
			display: inline-flex;
			margin-bottom: 15px;
			margin-right: 15px;
			padding: 0;

			&:hover {
				@include frontend-token(color, --navigation-selected-marker-color, $primary);
			}
		}

		&.sidenav-transition {
			@include media-breakpoint-down(md) {
				overflow: hidden;
			}
		}

		&.open {
			@include media-breakpoint-down(md) {
				@include overflow-auto;

				width: 275px;
			}
		}
	}

	.nav-item {
		margin-bottom: 16px;
	}

	.layout-icon {
		display: block;
		font-size: 20px;
		line-height: 32px;
		margin-left: -34px;
		position: absolute;
		text-align: center;
		top: -3px;
	}

	.nav-item {
		&:hover,
		&.selected {
			box-shadow: inset 4px 0 0 -1px var(--navigation-selected-marker-color, $primary);

			.nav-link {
				@include frontend-token(color, --navigation-selected-text-color, $white);
				font-weight: $font-weight-semi-bold;

				.layout-icon {
					filter: brightness(0) invert(1);
				}
			}
		}
	}

	.nav-link {
		align-items: center;
		@include frontend-token(color, --navigation-text-color, $gray-700);
		display: flex;
		height: 32px;
		padding: 0 8px 0 58px;
		width: 100%;
	}

	.component-link {
		@include frontend-token(color, --navigation-text-color, $gray-700);

		&:hover {
			@include frontend-token(color, --navigation-selected-text-color, $white);
		}
	}

	.layout-name,
	.user-full-name {
		opacity: 0;
		transition: opacity 0.35s ease-in;
		vertical-align: middle;

		@include media-breakpoint-down(md) {
			opacity: 1;
		}
	}

	.nav-user-bar {
		font-size: 0.875rem;
		margin-top: auto;

		.user-section {
			align-items: center;
			display: flex;
			padding: 8px 14px;
		}

		.text-default {
			align-items: center;
			display: inline-flex;

			&:hover {
				text-decoration: none;

				.user-full-name {
					@include frontend-token(color, --navigation-selected-text-color, $white);
					font-weight: $font-weight-semi-bold;
				}
			}
		}

		.user-full-name {
			@include frontend-token(color, --navigation-text-color, $gray-700);
			padding-left: 10px;
			white-space: nowrap;

			@include media-breakpoint-down(md) {
				display: inline-block;
			}
		}
	}

	.user-avatar-image {
		display: inline-flex;
		margin-left: -37px;
	}

	.sticker-right {
		display: none;
	}
}

.personal-menu-dropdown {
	.dropdown {
		.btn {
			padding: 0;
		}
	}
}

// Minium fixes

.mini-cart-opener::before {
	background-color: $primary;
}

.mini-cart-wrapper {
	width: 380px;
	height: 70%;
}

.mini-cart .mini-cart-item-quantity {
	min-width: 100px;
}

.mini-cart .mini-cart-item-thumbnail {
	display: none;
}

.commerce-topbar-button {
	padding: unset;
	height: unset;
}

.mini-cart:not(.is-open) .mini-cart-wrapper {
	display: none;
}
